/* You can add global styles to this file, and also import other style files */
/*@media screen and (max-width:480px){
	body {
		font-size:80%; 
	} 
}*/

body{
    background-color: black;
}

a.button {
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

text-decoration: navy;
color: orange;
}

.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #0c1522;
    background-color: #2bdce9;
    border-radius: 15px;
    border: 3px double #07a4ec;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    font-style: arial;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }




  :root {
    --bg: #1a1e24;
    --color: #cfc88a;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}
